

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-md-12">
        	    <div class="form-wrap">
                <h1>Log in with your email account</h1>
                    <form [formGroup]="loginForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="somebody@example.com">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" formControlName="username"  class="form-control" placeholder="Username">
                        </div>
                        
                        <!-- <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in"> -->
                        <button (click)="onLogin(loginForm)" class="btn btn-custom btn-lg btn-block" >Log in</button>
                    </form>
                    <!-- <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
                    <hr> -->
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
