<dx-data-grid id="gridContainer" [dataSource]="sssProgress">

  <dxo-export [enabled]="true" fileName="SSS Progress {{sssName}}"></dxo-export>
  <dxo-group-panel [visible]="true"></dxo-group-panel>

  <dxi-column dataField="SSS" [width]="100"></dxi-column>
  <dxi-column dataField="Epic_Des" caption="Epic Descriptions"></dxi-column>
  <dxi-column dataField="Subtask" [width]="80"></dxi-column>
  <dxi-column dataField="Done" [width]="80"></dxi-column>
  <dxi-column dataField="Progress" [width]="120" alignment="right" ></dxi-column>

  <dxo-summary>
    <dxi-total-item
        column="Progress" 
        summaryType="avg" 
        displayFormat="Total {0} %"
        valueFormat="fixedPoint"
        [precision] ="2"
        >
        
    </dxi-total-item>
</dxo-summary>

<dxo-paging [pageSize]="10"></dxo-paging>

</dx-data-grid>
