::ng-deep .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}
::ng-deep .caption {
   font-size: 18px;
   font-weight: 500;
}
::ng-deep .option {
   margin-top: 10px;
}