@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@include nb-install-component() {
  nb-card-body {
    overflow: visible;
  }
  .input-group {
    margin-bottom: 1rem;
  }
  .validation-checkboxes {
    display: flex;
    justify-content: space-between;
    .custom-control {
      margin-left: 1rem;
    }
  }
  .demo-checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .demo-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .demo-disabled-checkbox-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .demo-checkboxes-radio {
    display: flex;
    justify-content: space-between;
  }
  .demo-rating {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .star {
    font-size: 1.5rem;
    color: nb-theme(color-fg);
  }
  .filled {
    color: nb-theme(color-fg);
  } // TODO: Replace with the card header styles mixin
  .rating-header {
    line-height: 2rem;
    font-size: 1.25rem;
    font-family: nb-theme(font-secondary);
    font-weight: nb-theme(font-weight-bolder);
    color: nb-theme(color-fg-heading);
  }
  .current-rate {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: nb-theme(color-fg-heading);
  }
  .full-name-inputs {
    display: flex;
  }
  .input-group.has-person-icon {
    position: relative;
    .form-control {
      padding-left: 3rem;
    }
    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }
  .dropdown {
    min-width: 7rem;
  }
  .dropdown-menu {
    width: auto;
  }
  .form-group label {
    padding: 0 0 0.75rem;
  }
  ngb-rating {
    outline: none;
  }
  ngb-rating i {
    color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      color: nb-theme(color-primary);
    }
  }
  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }
}

.Devx {
  .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
  }
  .caption {
    font-size: 18px;
    font-weight: 500;
  }
  .option {
    margin-top: 10px;
  }
}
