<div class="row">
  <div class="col-md-12">
    <!-- <nb-card>
      <nb-card-header>Filter
        <button class="btn btn-danger btn-tn float-right" type="button" (click)="onClear()">Clear</button>
        <button class="btn btn-primary btn-tn float-right" type="button" (click)="onSelectCol()">Filter</button>

      </nb-card-header>

      <nb-card-body>

        <div class="form-group validation-checkboxes row">

          <nb-checkbox class="col-sm-3" [value]="selectCol.ID==true" (change)="selectCol.ID = !selectCol.ID"> Project ID</nb-checkbox>
          <nb-checkbox class="col-sm-3" [value]="selectCol.SSS==true" (change)="selectCol.SSS = !selectCol.SSS">SSS</nb-checkbox>
          <nb-checkbox class="col-sm-3" [value]="selectCol.Epic==true" (change)="selectCol.Epic = !selectCol.Epic">Epic</nb-checkbox>
          <nb-checkbox class="col-sm-3" [value]="selectCol.Epic_Des==true" (change)="selectCol.Epic_Des = !selectCol.Epic_Des">Epic Descriptions</nb-checkbox>
        </div>

        <div class="form-group validation-checkboxes row">
          <nb-checkbox class="col-sm-3" [value]="selectCol.Task==true" (change)="selectCol.Task = !selectCol.Task">Task</nb-checkbox>
          <nb-checkbox class="col-sm-3" [value]="selectCol.Task_des==true" (change)="selectCol.Task_des=!selectCol.Task_des">Task Description</nb-checkbox>
          <nb-checkbox class="col-sm-3" [value]="selectCol.Subtask==true" (change)="selectCol.Subtask = !selectCol.Subtask">Sub-task</nb-checkbox>
          <nb-checkbox class="col-sm-3" [value]="selectCol.Subtask_des==true" (change)="selectCol.Subtask_des = !selectCol.Subtask_des">Sub-task Descriptions</nb-checkbox>
        </div>

        <div class="form-group validation-checkboxes row">
          <nb-checkbox class="col-sm-3" [value]="selectCol.REPORTER==true" (change)="selectCol.REPORTER = !selectCol.REPORTER">Repornter</nb-checkbox>
          <nb-checkbox class="col-sm-3" [value]="selectCol.ASSIGNEE==true" (change)="selectCol.ASSIGNEE =!selectCol.ASSIGNEE">Assignee</nb-checkbox>
          <nb-checkbox class="col-sm-3" [value]="selectCol.STATUS==true" (change)="selectCol.STATUS = !selectCol.STATUS">Status</nb-checkbox>
          <div class="col-sm-3"></div>
        </div>
      </nb-card-body>
    </nb-card> -->
    <nb-card>
      <nb-card-header>{{ paramData.name }}
        <button class="btn btn-danger btn-tn float-right" type="button" (click)="onExport()">Export</button>
      </nb-card-header>
      <nb-card-body>
        <div class="Devx">
          <dx-data-grid id="gridContainer" [dataSource]="taskList" [allowColumnReordering]="true">
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

            <!-- <dxi-column *ngIf="showCol.ID" dataField="ID"></dxi-column>
        <dxi-column *ngIf="showCol.SSS" dataField="SSS"></dxi-column>
        <dxi-column *ngIf="showCol.Epic" dataField="Epic"></dxi-column>
        <dxi-column *ngIf="showCol.Epic_Des" dataField="Epic_Des"></dxi-column>
        <dxi-column *ngIf="showCol.Task" dataField="Task"></dxi-column>
        <dxi-column *ngIf="showCol.Task_des" dataField="Task_des"></dxi-column>
        <dxi-column *ngIf="showCol.Subtask" dataField="Subtask"></dxi-column>
        <dxi-column *ngIf="showCol.Subtask_des" dataField="Subtask_des"></dxi-column>
        <dxi-column *ngIf="showCol.REPORTER" dataField="REPORTER"></dxi-column>
        <dxi-column *ngIf="showCol.ASSIGNEE" dataField="ASSIGNEE"></dxi-column>
        <dxi-column *ngIf="showCol.STATUS" dataField="STATUS"></dxi-column> -->

            <dxi-column dataField="ID" [visible]="false"></dxi-column>
            <dxi-column dataField="SSS" [visible]="false"></dxi-column>
            <dxi-column dataField="Epic"></dxi-column>
            <dxi-column dataField="Epic_Des"caption="Epic Descriptions" ></dxi-column>
            <dxi-column dataField="Task" [visible]="false"></dxi-column>
            <dxi-column dataField="Task_des" caption="Task Descriptions"></dxi-column>
            <dxi-column dataField="Subtask" [visible]="false"></dxi-column>
            <dxi-column dataField="Subtask_des" caption="Subtask Descriptions"></dxi-column>
            <dxi-column dataField="REPORTER"></dxi-column>
            <dxi-column dataField="ASSIGNEE"></dxi-column>
            <dxi-column dataField="STATUS"></dxi-column>

            <dxo-summary>
              <dxi-group-item column="STATUS" summaryType="count" displayFormat="{0} orders">
              </dxi-group-item>
            </dxo-summary>


            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-paging [pageSize]="20"></dxo-paging>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
          </dx-data-grid>
          <div class="options">
            <div class="caption">Options</div>
            <div class="option">
              <dx-check-box [(value)]="expand.autoExpandAll" text="Expand All Groups">
              </dx-check-box>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
