@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';


@include nb-install-component() {
  ngx-chartjs-pie,
  ngx-chartjs-bar,
  ngx-chartjs-line,
  ngx-chartjs-multiple-xaxis,
  ngx-chartjs-bar-horizontal,
  ngx-chartjs-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

  .header-progress-chart{
 
    padding: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.445);
    cursor: pointer;
  }

  .body-progress-chart{
    margin-top: 15px;
    margin-bottom: 20px;
    height: 240px
  }

  .btStyle{
    margin :10px;
  }




